:root {
    --purple: #2f192e;
    --purple-light: #30192d;
    --dark-blue: #012677;
    --blue: #5c65c0;
    --sky-blue: #00b4fc;
    --light-blue: #005bc5;
    --dark-pink: #f64c57;
    --dark-magenta: #e21b5a;
    --light-green: #61e2c2;
    --light-purple: #d9abff;



}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: poppins, sans-serif;
}

.flex {
    display: flex;
    gap: 20px;
}

body {
    background: linear-gradient(45deg, var(--purple), var(--light-purple));
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    min-height: 100dvh;
    width: 100%;
    flex-direction: column;
    position: relative;
    padding: 2rem 10rem;

}
.flex1{
    flex: 1;
}
.me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    text-align: center;
}
.profile-card {
    background: #111;
    width: 100%;
    padding: 2rem 3rem;
    border-radius: 20px;
    min-height: 400px;
    top: 0;
    color: #fff;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
}

.profile-card .profile-pic {
    margin-top: 0.4rem;
    overflow: hidden;
}

.profile-card .profile-pic img {
    clip-path: circle();
    width: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.profile-card .profile-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.profile-details .intro {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.profile-details .intro h2 {
    margin-top: 20px;
    text-align: center;
}

.profile-details .intro h4 {
    background: #1d1d11;
    font-weight: 400;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 8px;
    margin: 2rem 0;
}

.profile-details .intro .social {
    margin-top: 10px;
    margin-bottom: 25px;

}

.profile-details .intro .social i {
    color: #ddd;
    font-size: 16px;
    background-color: #222;
    margin: 5px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;

}

.profile-details .intro .social i:hover {
    transform: scale(1.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.profile-details .contact-info {
    background-color: #1d1d11;
    padding: 15px;
    border-radius: 20px;
    width: 100%;
}

.profile-details .contact-info .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0;
    margin-bottom: 10px;

}

.contact-info .row .icon {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: #111;
    text-align: center;
    color: #fff;
    transition: 0.5s;

}

.row .icon:hover {
    transform: scale(1.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.row .content {
    min-width: 70%;

}

.row .content span {
    font-size: 12px;
}

.download-btn {
    background: rgb(236, 41, 103);
    padding: 1rem 3rem;
    border-radius: 30px;
    margin-top: 1.5rem;
    border: none;
    color: #fff;
}

.download-btn a {

    color: #fff;
    font-size: 16px;

}



/******* +++++++++++++++++++                  A propos                ++++++++++++++++*******/

.about {
    background-color: #111;
    max-width: 800px;
    /* height: 95dvh; */
    padding: 2rem 3rem;
    border-radius: 20px;
    /* overflow-y: scroll;
    scroll-snap-type: y mandatory;
    overflow-y: scroll; */
}

.about h2 {
    color: #f2f2f2;
    margin-bottom: 1.1rem;
    position: relative;
    display: inline-block;
    font-size: 3.5rem;
}

.about h2::after {
    position: absolute;
    content: "";
    top: 50%;
    right: -50%;
    width: 45%;
    height: 3px;
    background: linear-gradient(45deg, #f64c57, #e21b5a);
}

.about h2 {
    color: #f2f2f2;
    font-size: 2rem;
    margin: 0.5rem 0;
}

.about p {
    color: #555;
    margin: 1.5rem 0;

}

.skills {
    margin: 1.5rem 0;
    display: flex;
    justify-content: space-around;

}

.progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#e21b5a 75%, pink 0);
}

.html::before {
    content: "HTML";
}

.css::before {
    content: "CSS";
}

.js::before {
    content: "JS";
}

.java::before {
    content: "JAVA";
}



.about .work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 1.5rem 0;

}

.work .workbox {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #333;
    padding: 1rem;

}

.work .workbox .desc {
    width: 75%;
    color: #555;

}

.workbox ion-icon {
    color: #e21b5a;
    font-size: 28px;
}

.work .workbox .desc h3 {
    color: #f2f2f2;
    margin-bottom: 3px;

}

.work .workbox .desc p {
    margin: 0px;

}
.portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 1.5rem 0;

}
.project{
    width: 100%;
    border-radius: 8px;
    border: 1px solid #333;
    padding: 1rem;
    color: #fff;
    text-align: center;

}
.project img{
    width: 95%;
    object-fit: cover;
    /* height: 100px; */
    border-radius: 10px;
    margin-bottom: 0.9rem;
    transition: .5s;

}
.project img:hover{
    scale: 1.05;
}

/******** Responsive ********/
@media(max-width:768px) {
    .container{
        padding: 2rem 2rem;
    }
    .profile-card{
        flex-direction: column;
        gap: 25px;
    }
    .abou {
        width: 1005;
        max-width: 400px;
        padding: 1rem;
        margin: 1rem;

    }

    .about h1 {
        font-size: 2.2rem;

    }

    .about .work {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
    }
}
